
trigger:
- main

pool:
  vmImage: ubuntu-latest

stages:
  - stage: Build
    displayName: Build stage
    jobs:
      - job: Build
        displayName: Build Job
        pool:
          vmImage: ubuntu-latest
        steps:
        ## Publish Artifacts pipeline code in addition to Build and Push 
          - bash: echo Contents in System Default Working Directory; ls -R $(System.DefaultWorkingDirectory) 
          - bash: echo Before copying Contents in Build Artifact Directory; ls -R $(Build.ArtifactStagingDirectory)  
        # Task-2: Copy files (Copy files from a source folder to target folder)
        # Source Directory: $(System.DefaultWorkingDirectory)/terraform-manifests
        # Target Directory: $(Build.ArtifactStagingDirectory)
          - task: CopyFiles@1
            inputs:
              SourceFolder: '$(System.DefaultWorkingDirectory)/terraform-files'
              Contents: '**'
              TargetFolder: '$(Build.ArtifactStagingDirectory)'
              OverWrite: true
        # List files from Build Artifact Staging Directory - After Copy
          - bash: echo After copying to Build Artifact Directory; ls -R $(Build.ArtifactStagingDirectory)
          # Task-3: Publish build artifacts (Publish build to Azure Pipelines) 
          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: '$(Build.ArtifactStagingDirectory)'
              ArtifactName: 'terraform-manifests'
              publishLocation: 'Container'

          
